* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.pro2 {
  background: #050f17;
  color: white;
}

/* HEADER */
.header {
  background: #1C398E;
  color: rgb(235, 241, 237);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  text-align: center;
}

.logo span {
  color: #00ff88;
}

.user-menu {
  display: flex;
  gap: 15px;
  align-items: center;
}

.user-menu a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
}

.user-menu a:hover {
  background: #00ff88;
  color: black;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

nav .active {
  color: #00ff88;
}




/* GRID */
.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* TARJETAS */
.cardPro {
  perspective: 1000px;
}

.inner {
  position: relative;
  width: 100%;
  height: 300px;
  transform-style: preserve-3d;
  transition: 0.7s;
}

.cardPro:hover .inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  backface-visibility: hidden;
  padding: 15px;

}

.front {
  background: #1C398E;
}

.front img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}


/* BACK */
.back {
  background: #1C398E;
  transform: rotateY(180deg);
}

.back ul {
  font-size: 14px;
  margin: 10px 0;
}

.precio {
  color: #00ff88;
  margin: 10px 0;
}

/* BOTON */
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #00ff88;
  cursor: pointer;
}

button:hover {
  background: #00cc6a;
}

.pedido-card {
  background: #1C398E;
  padding: 20px;
  border-radius: 15px;
  margin: 15px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.pedido-card:hover {
  transform: scale(1.02);
}

.pedido-card h3 {
  margin-bottom: 10px;
}

.btn-detalle {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #00ff88;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}

.btn-detalle:hover {
  background: #00cc6a;
}